@page "/opretisystem"
@rendermode InteractiveServer
@using BlazorApp2test.Models
@using BlazorApp2test.Services
@inject ResidentServices ResidentServices


<h3>OpretISystem</h3>

<button @onclick="AddResident">Tilføj borger</button>

@code {
    // This function adds a new borger and it graps the list from Borger.cs with the default values. This function can then be used in BorgerSide.razor to add new borgere.
    private void AddResident()
    {
        ResidentServices.Borgere.Add(new ResidentModel
        {
            Id = Guid.NewGuid(),
            Navn = "Ny Borger",
            MedicinTider = "",
            PNTid = "",
            Status = "",
            Risiko = Risiko.Groen,
            Handledag = "",
            HandleTidspunkt = "",
            Betaling = 0
        });
    }
}
