@page "/"
@rendermode InteractiveServer
@using BlazorApp2test.Models
@page "/Skoven"
@using BlazorApp2test.Services
@inject ResidentService ResidentService

<h5>Overlap</h5>

<!-- Adds a resident to the borger-kort -->
<button @onclick="ResidentService.AddResidentSkoven">Tilføj borger</button>

<!-- Saves the first resident in the BorgereSkoven list to the database -->
<button type="button" class="btn btn-success" @onclick="ResidentService.SaveAllSkovenResidentsAsync">
    Gem alle i database
</button>


<!-- Here we use the ResidentService.BorgereSkoven list, the list is called "Borgere" -->
<EditForm Model="ResidentService.BorgereSkoven">

<div class="borger-grid">
        <!-- Here we use the ResidentService.BorgereSkoven list, it is then used on each of the elements in the borger-kort div. -->
        @foreach (var borger in ResidentService.BorgereSkoven)
    {
            <div class="@($"borger-kort {ResidentHelper.GetRisikoClass(borger.Risiko)}")">
            
            <!-- Here sætter vi navn og binder værdien til borger.navn-->
            <InputText class="felt" placeholder="Navn" @bind-Value="borger.Navn" />

            <!-- Here sætter vi risiko og binder værdien til borger.Risiko-->
            <InputSelect class="felt" @bind-Value="borger.Risiko">
                <option value="Green">Grøn</option>
                <option value="Yellow">Gul</option>
                <option value="Red">Rød</option>
            </InputSelect>

            <InputText class="felt" placeholder="PN-Tid" @bind-Value="borger.PNTid" />

            <textarea class="felt status-felt" placeholder="Medicin tider" @bind="borger.MedicinTider"></textarea>

            <textarea class="felt status-felt" placeholder="Status" @bind="borger.Status"></textarea>

            <InputText class="felt" placeholder="Handledag" @bind-Value="borger.Handledag" />

            <InputText class="felt" placeholder="Handletidspunkt" @bind-Value="borger.HandleTidspunkt" />

            <InputText class="felt" placeholder="kr." @bind-Value="borger.Betaling" />

            <button type="button" class="btn btn-danger" @onclick="() => ResidentService.RemoveBorgerSkoven(borger)">
            Fjern borger
            </button>
        </div>
    }
</div>
</EditForm>

@code {
    
}
